body {
	background-image: linear-gradient(#bef, #3d3);
	position:fixed;
	min-width: 100%
}

html{
	min-height: 100%;
	min-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, dt, dd{
	color: #003;
}


#profile_widget-icon {
	float: left;
	border-radius: 10%;
}

#profile_widget-name {
	text-indent: 0.9%;
}

#profile_widget-occupation {
	font-size: 20px;
	color: #558;
}

#motto {
	font-size: 14px;
}